<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
<!-- <robot xmlns:xacro="http://www.ros.org/wiki/xacro"> -->

    <xacro:include filename="common_props.xacro" />
    <xacro:include filename="arm.xacro" />
    <xacro:include filename="arm_gazebo.xacro" />
    
</robot>